/**/bin/
/**/obj/
.vscode
/**/.env
/**/publish/
/planner-content-service/src/Planer_task_board.Api/Migrations
/planner-chat-service/src/Planner-chat-server.Api/Migrations
/planner-auth-service/src/Planner_Auth.Api/Migrations
/planner-notify-service/.vs
/.vs
/planner-node-service/.vs
/CaesarServerLibrary/.vs
/planner-gateway-service/.vs
/planner-mailbox-service/.vs
