/**/bin/
/**/obj/
.vscode
/**/.env
/**/publish/
/planner-task-board/src/Planer_task_board.Api/Migrations
/planer-mailbox-service/.vs
/planner-chat-server/src/Planner-chat-server.Api/Migrations
/planner-auth-service/src/Planner_Auth.Api/Migrations
