/**/bin/
/**/obj/
.vscode
/**/.env
/**/publish/
/planner-content-service/src/planner_content_service.Api/Migrations
/planner-chat-service/src/planner_chat_service.Api/Migrations
/planner-auth-service/src/planner_auth_service.Api/Migrations
/planner-notify-service/.vs
/.vs
/planner-node-service/.vs
/planner-server-package/.vs
/planner-gateway-service/.vs
/planner-mailbox-service/.vs
/planner-client-package/.vs
